### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Environments
.venv

# ruff
.ruff_cache/

# PyTest
.pytest_cache

# Coverage
.coverage
.coverage.*
coverage.xml
htmlcov/

# Build / Dist
build/
dist/
*.egg-info/

### AI Stuff ###
# Claude Code
.claude

### Development Tests & Debug ###
.dev/

### VSCode ###
.vscode
